<div class="starting_svg">
    <div class="em">
      <embed src="img/intro.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"
        type="application/x-shockwave-flash">
      <div class="hd"></div>
    </div>


    <noscript>&lt;object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0"
      width="800" height="550"&gt; &lt;param name="movie" value="swf/intro.swf" /&gt; &lt;param name="quality" value="high"
      /&gt; &lt;embed src="swf/intro.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"
      type="application/x-shockwave-flash" width="800" height="550"&gt;&lt;/embed&gt; &lt;/object&gt;
    </noscript>
    <div class="text-center"><a ui-sref="home">SKIP INTRO</a></div>
  </div>
</div>