/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import "other/font-fix";
body {
    // padding-top: 110px;
    background-color: #f3f3f3;
    font-family: 'Montserrat';
}

.content {
    margin-left: 21%;
    width: 79%;
    overflow: hidden;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

// .nav-style {
//     height: 110px;
//     transition: all 500ms;
//     background: rgba(96, 187, 177, 0.93);
//     -webkit-box-shadow: 1px 1px 26px 0px rgba(50, 50, 50, 0.75);
//     -moz-box-shadow: 1px 1px 26px 0px rgba(50, 50, 50, 0.75);
//     box-shadow: 1px 1px 26px 0px rgb(96, 187, 177);
//     border: none;
//     .navbar-nav {
//         float: right;
//         li {
//             a {
//                 padding: 35px;
//                 background: none;
//                 background-color: transparent !important;
//                 padding: 35px 25px;
//                 padding-bottom: 30px;
//                 color: white !important;
//                 font-size: 15px;
//             }
//             .active {
//                 border-bottom: 4px solid rgb(255, 255, 255);
//             }
//         }
//     }
// }
//navbar
.side-nav {
    font-family: 'Montserrat';
    width: 21%;
    overflow: hidden;
    height: 100vh;
    padding: 20px;
    padding: 0 45px;
    padding-top: 50px;
    background-color: #ffffff;
    .navbar-nav {
        width: 100%;
        li {
            float: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.27);
            a {
                padding-left: 0px;
                font-size: 11px;
                font-weight: 500;
                color: #626262;
                &:hover {
                    color: #8ec85a;
                }
                .active {
                    color: #8ec85a;
                }
                .fa {
                    float: right;
                    padding-top: 5px;
                }
            }
        }
    }
    .nav-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-left: -45px;
        padding: 20px;
        .social {
            font-size: 16px;
            .fa {
                padding: 0px 10px;
                cursor: pointer;
                transition: all 1s;
                &:hover {
                    color: #8ec85a;
                }
            }
        }
        .copyr {
            font-size: 10px;
        }
    }
    .navbar-header {
        width: 100%;
        float: none;
        text-align: -webkit-center;
        margin-bottom: 40px;
        .navbar-brand {
            float: none;
        }
    }
    .logo {
        width: 100px;
        margin: 0 auto;
    }
}

#b1 {
    background-image: url(http://dsecreative.com/wp-content/uploads/2015/07/dse-creative-background-company-logo-design_1-01.png);
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    height: 100vh;
}

.green {
    color: #8ec859;
}

.yellow {
    color: #ffcc29;
}

.inner-b1 {
    // padding: 50px;
    margin-left: 35%;
    /* margin-right: 3%; */
    padding: 7%;
    width: 65%;
    height: 100vh;
    // overflow-y: scroll;
    .txt {
        font-size: 85px;
        letter-spacing: -2px;
        line-height: 90px;
        font-weight: bold;
    }
    hr {
        border-top: 2px solid rgba(0, 0, 0, 0.84);
        margin-top: 100px;
        background-color: white;
    }
    .txt2 {
        line-height: 25px;
        letter-spacing: 1px;
        color: rgba(0, 0, 0, 0.67);
        margin-top: 35px;
        font-size: 16px;
    }
}

.bg-white-op {
    background-color: rgba(255, 255, 255, 0.80);
}

#aboutus {
    height: 600px;
    padding: 150px 65px;
    background: #1c1c1c;
    transition: all 2s;
    padding-top: 50px;
    .abt-title {
        padding: 50px;
        font-family: 'Montserrat';
        font-size: 40px;
    }
    .inside_abtus {
        font-family: 'Roboto';
        font-size: 20px;
        color: #6e6e6e;
        .txt {
            word-break: break-all;
            .number {
                display: inline-block;
                font-size: 48px;
                font-family: Montserrat;
                color: #939393;
                letter-spacing: -1px;
                line-height: 54px;
                padding: 15px;
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        hr {
            float: left;
            margin-top: 40px;
            border-top: 1px solid #8ec85a;
            width: 25%;
        }
        .heading {
            display: inline-block;
            font-family: Montserrat;
            padding-left: 20px;
            line-height: 22px;
            font-size: 18px;
        }
        .cont {
            font-size: 14px;
            height: 100px;
        }
    }
    span {
        // font-size: 90px;
        line-height: 0;
        padding: 2px;
    }
}

#portfolio {
    // height: 900px;
    .p-title {
        padding: 50px;
        font-family: 'Montserrat';
        font-size: 40px;
    }
    .block {
        // height: 200px;
        // padding: 50px;
        span {
            position: relative;
            top: 40%;
            font-size: 25px;
        }
    }
}

#services {
    // height: 680px;
    padding: 70px 0;
    .p-title {
        font-family: 'Montserrat';
        font-size: 40px;
    }
    .service-text {
        padding: 0 200px;
    }
    .service {
        margin: 50px 0;
    }
}

#contactus {
    padding-top: 50px;
    color: #6e6e6e;
    background: #1c1c1c;
    // height: 500px;
    .p-title {
        padding-bottom: 20px;
        font-family: 'Montserrat';
        font-size: 40px;
    }
    .contact-text {
        padding: 0 200px;
        text-transform: capitalize;
        font-size: 16px;
        a{
            text-transform: lowercase;
        }
    }
    .inside_port {
        margin-bottom: 30px;
        a {
            text-decoration: none;
            color: #6e6e6e;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.inside_port {
    margin-right: 50px;
    margin-left: 50px;
}

figure {
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    &:hover figcaption {
        opacity: 1;
    }
    &:hover .portfolio-img {
        transform: scale(2);
    }
}

.shadow {
    box-shadow: 10px 10px 5px rgba(136,136,136,0.3);
}

.portfolio-img {
    transition: all 2s ease-out;
}

figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 2s ease-out;
    .caption-div {
        display: table;
        width: 100%;
        height: 100%;
    }
    .inside-caption-div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
    }
}

.box {
    padding: 0 25px;
    text-align: center;
    height: 255px;
    width: 100%;
    display: table;
    position: relative;
    border: 1px solid white;
    border-right: none;
    overflow: hidden;
    transition: all 0.5s;
    &:hover .content {
        top: 10px;
    }
    &:hover .content .details {
        opacity: 1;
    }
    &:hover figure i {
        color: #8ec85a;
    }
    .content {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        padding: 0;
        position: relative;
        top: 50px;
        transition: all 0.5s;
        .details {
            transition: all 0.5s;
            opacity: 0;
        }
        figure {
            transition: all 0.5s;
            padding: 8% 0;
            span {
                font-weight: bold;
            }
            i {
                font-size: 40px;
                margin-bottom: 15px;
            }
        }
    }
}

.rem-pad {
    padding-left: 0;
    padding-right: 0;
}

.modal-header {
    padding: 5px;
    border-bottom: none;
}

.modal-body{
    padding: 0;
}

.circle {
    border: solid 2px black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.flex-control-nav {
    display: none;
    // bottom: -80px;
}

.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
    background: black;
}

.flex-control-paging li a {
    width: 9px;
    height: 9px;
}

.flex-control-nav li {
    margin: 0 3px;
}

.starting_svg{
    position: fixed;
    background: white;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}