<ul class="nav navbar-nav">
  <li ng-repeat="menu in navigation" ui-sref-active="active">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
    <a href="{{menu.link}}" offset="0" du-smooth-scroll du-scrollspy ng-if="menu.link">{{menu.name}}
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>

    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav" ui-sref-active="active">
        <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
        <a herf="{{submenu.link}}" ng-if="submenu.link">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
</ul>

<div class="nav-footer">
    <div class="social"><i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i></div>
    <hr>
    <div class="copyr">© 2017 U&amp;V Creativess. All rights reserved</div>
</div>